/*Core desktop css rules*/

body {
    min-width: 840px;
    font-family: Arial, sans-serif;
}

#btn_fullscreenCancel {
    z-index: 999;
    float: right;
    margin: 30px 30px 0px 0px;
}

h1, h2, h3 {
    font-weight: normal;
    line-height: 22px;
}

#engage_tab_content {
    padding: 5px 0px 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    min-width: 840px;
    background-color: #FFFFFF;
}

#engage_content {
    width: 98%;
}

#engage_video {
    margin-top: 110px;
}

#engage_controls {
    width: 100%;
    height: 97px;
    background-color: #FFFFFF;
}

#engage_description {
    margin: 15px 0px 15px 0px;
}

#engage_top_bar {
    width: 100%;
    height: 90px;
    position: fixed;
    background-color: #FFFFFF;
    z-index: 101;
}

/* Expanded Header */

#engage_timeline_expand_btn {
    width: 40px;
    height: 40px;
    padding: 7px;
    background: #dddddd;
    position: fixed;
    right: 20px;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

#engage_timeline_expand_btn:hover {
    cursor: pointer;
}

.engage_timeline_expand_btn_rotate180 {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#engage_timeline_plugin {
    display: none;
    width: 100%;
    min-width: 840px;
    background: #f9f9f9;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 20px;
}

.form-signin {
    max-width: 380px;
    margin: 0 auto;
    background-color: #fff;
    /* padding: 15px 35px 45px; */
    /* border: 1px solid rgba(0,0,0,0.1); */
}

.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}

.checkbox {
    font-weight: normal;
}

.form-control-custom {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);
    &:focus {
	z-index: 2;
    }
}

#username {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#password {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
